.content {
  grid-row: content-start / content-end;
  padding: 2rem;
  
  background-color: #222831;
  color: #eeeeee;

  display: grid;
  grid-template-columns: [preview-start] auto [preview-end quicka-start] min-content [quicka-end];
  gap: 2rem;
}


.content__button{
  padding: 8px;
  color: #222831;
  border: none;
  border-radius: 1rem;
}