.content {
  grid-row: content-start / content-end;
  padding: 2rem;
  
  background-color: #1b263b;
  color: #e0e1dd;

  display: grid;
  grid-template-columns: [preview-start] auto [preview-end quicka-start] min-content [quicka-end];
}
