.content {
  grid-row: content-start / content-end;
  padding: 2rem;
  
  background-color: #222831;
  color: #eeeeee;

  display: grid;
  grid-template-columns: [preview-start] auto [preview-end quicka-start] min-content [quicka-end];
  gap: 2rem;
}
