.quick-access {
  grid-column: quicka-start / quicka-end;

  display: grid;
  grid-template-rows: min-content 1fr;

  height: 100%;
  width: 24rem;

  background-color: #393e46;
  border-radius: 1rem;

  .quick-access__title {
    font-size: 1.5rem;
    font-weight: 600;

    padding: 1rem;
    margin: 0;
  }

  .quick-access__trips {
    height: 100%;

    background-color: #31353c;
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
