.header {
  grid-row: header-start / header-end;
  height: 4rem;
  background-color: #212428;

  display: grid;
  grid-template-columns: [title-start] min-content [title-end nav-start] auto [nav-end account-start] min-content [account-end];

  padding: 0 1rem;
}

.header__title{
  grid-column: title-start / title-end;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e6e6e6;
  padding: 1rem;
}

.header__button{
  grid-column: account-start / account-end;
  background-color: transparent;
  color: #e6e6e6;
  border: none;
  cursor: pointer;
}
