.header {
  grid-row: header-start / header-end;
  height: 4rem;
  background-color: #212428;

  display: grid;
  grid-template-columns: [title-start] min-content [title-end nav-start] auto [nav-end controls-start] min-content [controls-end];
  align-items: center;

  padding: 0 1rem;
}

.header__title {
  grid-column: title-start / title-end;
  font-size: 1.5rem;
  font-weight: 700;
  color: #eeeeee;
  margin: 0;
  padding: 0 1rem;
}

.header__controls {
  grid-column: controls-start / controls-end;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header__button {
  background-color: transparent;
  color: #eeeeee;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.header__create {
  background-image: url(../../assets/images/landscape3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #000;

  filter: brightness(0.7);
  background-color: #eeeeee;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px 1rem;
}
