#timeline-paginator {
  width: 40rem;
  padding-top: 2rem;
  #timeline-paginator__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    
    .timeline-paginator__button {
      width: 8rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 8px;

      border: none;
      background-color: transparent;
      color: #eee;
      font-size: 1rem;

      &.timeline-paginator__button--disabled {
        color: gray;
      }

      &#timeline-paginator__button--prev{
        justify-content: flex-start;
      }
      &#timeline-paginator__button--next{
        justify-content: flex-end;
      }
    }
    #timeline-paginator__current {
      font-size: 1rem;
      font-weight: 600;
      color: #eee;
    }
  }
}
